/* Home.css */
.Home {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  /* Fondo blanco para la página Home */
}
.content-home{
  margin-top: 100px;
  display : flex;
  gap: 20px;
  flex-wrap: wrap;
}



     