/* Label.css */
.label {
    background-color: #f0f0f0; /* Fondo gris */
    border-radius: 8px; /* Bordes redondeados */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .label:hover {
    background-color: #d9dce1; /* Fondo gris más oscuro al pasar el ratón */
  }