/* Home.css */
.Home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white; /* Fondo blanco para la página Home */
  }
  
  .content {
    display: flex;
    flex: 1;
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
  }
  
  aside {
    width: 250px; /* Ancho fijo para el Sidebar */
    background-color: #343a40;
    color: white;
    padding: 20px;
  }
  
  main {
    flex: 1; /* El MainContent ocupará el resto del espacio */
    padding: 20px;
    background-color: #fff;
  }