header {
  color: #121417;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e8eb; 
}

header .logo {
  display: flex;
  align-items: center;
  padding: 1px;
  margin-left: 80px;
}

header .logo img {
  height: 25px;
  margin-right: 10px;
}

header .logo span {
  font-size: 2.0em;
  font-weight: bold;
}

header .actions {
  display: flex;
  align-items: center;
}

header .actions button {
  background-color: #F0F2F5; 
  border: none;
  padding: 10px;
  margin-left: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header .actions .profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 50px;
}

.login-title {
  font-size: 1em; 
  font-weight: bold;
}
