#root {
  width: 100%; /* Cambiar max-width a width */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}








